
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function
    function isSignedIn() {
      return request.auth != null;
    }

    // Rules for the 'profiles' collection
    match /profiles/{userId} {
      allow get, list: if isSignedIn();
      allow create, update: if isSignedIn(); // Allow managers to update any profile for admin tasks
      allow delete: if isSignedIn(); // Allow admin deletion

      match /notifications/{notificationId} {
        allow read, create, update: if request.auth.uid == userId;
        allow delete: if false;
      }
    }
    
    // MASTER TOP-LEVEL TRANSACTIONS
    match /transactions/{transactionId} {
      // Allow user to read their own records from top-level
      allow read, list: if isSignedIn() && (resource.data.userId == request.auth.uid || request.auth.token.admin == true);
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn(); // Allow managers
    }
    
    // Rules for CHAT
    match /chats/{chatId} {
      allow get, list, update, delete: if isSignedIn();
      allow create: if isSignedIn();
    }
    
    match /messages/{messageId} {
      allow create: if isSignedIn();
      allow read, list: if isSignedIn();
      allow update, delete: if isSignedIn();
    }

    // Rules for Meetings & Calls
    match /meetings/{meetingId} {
      allow read, list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isSignedIn();
    }

    match /meetingAttendees/{attendeeId} {
      allow read, list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isSignedIn();
    }
    
    // Rules for media posts
    match /posts/{postId} {
      allow read, list: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update: if isSignedIn();
      allow delete: if isSignedIn();

      match /comments/{commentId} {
        allow read, list: if isSignedIn();
        allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
        allow delete: if isSignedIn();
      }
    }

    match /apps/{appId} {
        allow read, list: if isSignedIn();
        allow create, update, delete: if isSignedIn();
    }

    match /products/{productId} {
        allow read, list: if isSignedIn();
        allow create, update, delete: if isSignedIn();
    }

    match /books/{bookId} {
        allow read, list: if isSignedIn();
        allow create, update, delete: if isSignedIn();
    }

    match /upworkProfiles/{profileId} {
        allow read, list: if isSignedIn();
        allow create, update, delete: if isSignedIn();
    }
    
    match /app_config/{docId} {
      allow read, list: if true;
      allow create, update: if isSignedIn();
      allow delete: if false;
    }
  }
}
